.card.border-dark.mb-3
  .card-body
    .card-title
      %h4= post.content
    %p.card-text
      %small.text-muted= post.created_at
    %p.span-right
      - unless post.user_id == current_user.id
        - if follows.present? && follows.include?(post.user_id)
          = form_for(current_user.relationships.find_by(follow_id: post.user.id), html: {method: :delete}) do |f|
            = f.hidden_field :user_id
            = f.hidden_field :follow_id, value: post.user_id
            = f.submit 'unfollow', class: 'btn btn-danger'
        - else
          = form_for(current_user.relationships.build) do |f|
            = f.hidden_field :user_id
            = f.hidden_field :follow_id, value: post.user_id
            = f.submit 'follow', class: 'btn btn-primary'
  .card-footer.bg-transparent
    %p= post.user.name + " <" + post.user.email + ">"
